/auto/
/thesis.tex
/thesis.tdo
/thesis.pdfsync
/thesis.org_archive
/thesis.fls
/thesis.fdb_latexmk
/thesis.blg
/thesis.bbl
/textlint.st
/textlint.log
/support/

*.pyc
/code/spencer/ws/build
/code/spencer/ws/devel
/output/
/presentation.bbl
/presentation.blg
/presentation.dvi
/presentation.fdb_latexmk
/presentation.fls
/presentation.tex
/texput.log
/thesis.lof
/xelatex31091.fls
/figures/bc1.jpg
/figures/bc2.jpg
/figures/bof-approach-eps-converted-to.pdf
/figures/cm-bof-128-eps-converted-to.pdf
/figures/cm-bof-partial-eps-converted-to.pdf
/figures/cm-lcs-64-eps-converted-to.pdf
/figures/finalconcept1.jpg
/figures/gp-lmf-approach-eps-converted-to.pdf
/components/titlepage.aux
/components/titlepage.tex~
/components/text.tex
/components/texput.log
/components/#cover.tex#
/components/_region_.log
/components/_region_.tex
/components/abstract.aux
/components/abstract_german.aux
/components/auto/
/components/commands.tex
/components/cover.aux
/components/disclaimer.aux
/components/glossary.tex
/components/info.aux
/components/info.log
/components/info.tex~
/components/outline.tex
/components/preface.tex
/components/settings.log
/components/settings.tex
/components/settings.tex~
